<div class="home">
  <h1>Hello!</h1>
  <p>楽しく遊んで写真を共有しよう★</p>
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to(post_path(post.id)) do %>
        <img src=<%= post.image %>>
      <% end %>
    </div>
  <% end %>
</div>