<div class = "nested-fields">
  <%= f.text_field :answer %>
  <%= f.check_box :is_correct_answer %>
  <%= link_to_remove_association "削除", f, class: "btn btn-danger remove-photo-btn photo-btn" %>
</div>